---
layout: default
---

<div class="people">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
        <div class="pull-right"  style="width:40%">
          <img class="img-responsive" src="{{ page.picture }}" alt="{{ page.name }}" />
        </div>

				<h2>{{ page.name }} ({{page.role}})</h2>

				<div class="social">
					{% if page.email	%}
					<a href="mailto:{{ page.email }}">
            <i class="fa-regular fa-envelope"></i>
					</a>
					{% endif			%}

					{% if page.twitter	%}
					<a href="https://twitter.com/{{ page.twitter }}">
						<i class="fa-brands fa-twitter"></i>
					</a>
					{% endif			%}

          {% if page.bluesky	%}
					<a href="https://bsky.app/profile/{{ page.bluesky}}.bsky.social">
            <i class="fa-brands fa-bluesky"></i>
					</a>
					{% endif			%}

					{% if page.github	%}
					<a href="https://github.com/{{ page.github }}" target = "_blank">
            <i class="fa-brands fa-github"></i>
          </a>
					{% endif			%}

					{% if page.google_scholar	%}
					<a href="{{page.google_scholar}}" target = "_blank">
            <i class="fa-brands fa-google-scholar"></i>
          </a>
					{% endif			%}

					{% if page.orcid	%}
					<a href="http://orcid.org/{{page.orcid}}" target = "_blank">
            <i class="fa-brands fa-orcid"></i>
					</a>
					{% endif			%}

					{% if page.research_gate	%}
					<a href="https://www.researchgate.net/profile/{{page.research_gate}}" target = "_blank">
            <i class="fa-brands fa-researchgate"></i>
					</a>
					{% endif			%}

					{% if page.linkedin	%}
					<a href="https://linkedin.com/in/{{ page.linkedin }}" target = "_blank">
            <i class="fa-brands fa-linkedin"></i>
          </a>
					{% endif			%}

					{% if page.website	%}
					<a href="{{ page.website }}" target = "_blank">
            <i class="fa-solid fa-globe"></i>
					</a>
					{% endif			%}

          {% if page.pubmed	%}
					<a href="{{ page.pubmed }}" target = "_blank">
            <i class="ai ai-pubmed ai-1x"></i>
					</a>
					{% endif			%}

					{% if page.phone	%}
					• {{ page.phone }}
					{% endif			%}

          {% if page.address	%}
					• {{ page.address }}
					{% endif			%}

				</div>

  

				<h3>Projects</h3>
				<ul>
					{%	for theme in page.theme_areas	%}
					<!--- Need to create links to these theme pages --->
					<li>{{ theme }}</li>
					{%	endfor							%}
				</ul>


        <h3>Background</h3>
        {{ content }}

        {% assign labbie = page.url | remove:'/people/' | remove:'.html' %}
        {% assign labbie_papers = site.array %}
        {% for paper in site.papers reversed %}
          {% if paper.people contains labbie %}
            {% assign labbie_papers = labbie_papers | push: paper %}
          {% endif %}
        {% endfor %}

        {% assign paper_count = labbie_papers | size %}
        {% if paper_count > 0 %}
          {% assign sorted_papers = labbie_papers | sort: 'year' %}

          <h3>Papers the MIDGE Center</h3>
          <div class="papers">
            <ol>
              {% for paper in sorted_papers %}
                {% if paper.layout == "chapter" %}
                  <li>{% include reference_chapter.html ref=paper %}</li>
                {% else %}
                  <li>{% include reference_paper.html ref=paper %}</li>
                {% endif %}
              {% endfor %}
            </ol>
          </div>

        {% endif %}

      </div>
		</div>
	</div>
</div>
